################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AskGemini_wpf/AskGemini_wpf/AskGemini_wpf.csproj
